section.card {
  width: 50vw;
  min-width: 300px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(200, 225, 200, 0.5);
  border-radius: 5px;
  padding: 30px;
}

.card h2 {
  margin: 20px 0;
  font-weight: 200;
}

.card form {
  display: grid;
}

.card h2 {
  font-size: 40px;
}

.card input[type=submit] {
  background-color: rgb(0, 50, 0);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card label {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card label span {
  text-transform: uppercase;
}
